<h1>Show</h1>

<%= @cocktail.name %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
  <% end %>
</ul>

<br><br>
<%= link_to 'All the cocktails', cocktails_path %>
<br>
<%= link_to 'New dose', new_cocktail_dose_path(@cocktail) %>
